body {
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
}
a {
  text-decoration: none;
}
.container {
  margin-right: 170px;
  margin-left: 170px;
  margin-top: 80px;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 45px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #b5b5b5;
  font-family: 'Gilroy-SemiBold', sans-serif;
}

.nav-item:hover {
  color: #fff;
}
.button-transparent {
  background: transparent;
  padding-left: 27px;
  padding-right: 29px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #f2994a;
  border: 1px solid #f2994a;
  min-width: 112px;
  height: 36px;
  border-radius: 5%;
  font-size: 12px;
  line-height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.button-transparent:hover {
  background: #f2994a;
  color: #fff;
  border: none;
}

.button-orange {
  background: #f2994a;
  padding-left: 25.5px;
  padding-right: 26.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 20px;

  color: #fff;
  border: none;
  min-width: 112px;
  height: 36px;
  border-radius: 5%;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

.intro {
  margin-top: 135px;
}

.intro-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  color: #99efd0;
  width: 530px;
  margin-bottom: 20px;
}

.intro-text {
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  line-height: 22px;
  color: #8476aa;
  width: 470px;
  margin-bottom: 40px;
}

.running-figure-background,
.stars-background {
  position: absolute;
  top: 140px;
  right: -170px;
}

.trailer {
  margin-top: 60px;
  display: flex;
}
.preview {
  width: 140px;
  height: 80px;
  background-color: #361c5d;
  border-radius: 4%;
  position: relative;
}

.play {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(35%, -50%);
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.trailer-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  color: #8476aa;
  width: 380px;
  margin-left: 20px;
}
.trailer-title {
  margin-bottom: 10px;
}
.watch-preview {
  font-size: 14px;
  text-decoration: none;
  color: #8476aa;
}

.watch-preview:hover {
  color: #fff;
  opacity: 0.8;
}

.partners {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.partner-item {
  opacity: 0.2;
}
.partner-item:hover {
  cursor: pointer;
  opacity: 0.5;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('fonts\Gilroy-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
